<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"/>
    <title>Registration Page Page</title>
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <div class="container justify-content-center">
          <div class="row ">
            <div class="col-md-12  d-flex ">
              <a class="navbar-brand text-white h1 p-2 font-weight-bold" href="/">Authentication System</a>
            </div>
          </div>
        </div>
      </nav>

</body>
</html>
